/* Header.css */
.header {
    background: white;
    color: #333;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 좌우 여백을 최대로 확보 */
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px; /* 리스트 항목 사이의 간격을 조정 */
}

nav li {
    cursor: pointer;
}
nav li {
    margin-right: 20px; /* 각 리스트 항목 사이의 간격을 조정 */
    cursor: pointer;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background: #9EE5E9;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.user-options a {
    margin-right: 20px; /* 로그인 및 회원가입 링크 사이의 간격을 조정 */
}


