{% extends "layout.html" %} {% block body %}
<div class="border border-3 border-dark rounded p-4">
  <p class="text-center fw-bold fs-1">Find Password</p>
  <form action="/email-find" method="post">
    <div class="input-group mb-3">
      <label class="input-group-text bg-dark text-white" for="username">Email</label>
      <input class="form-control" type="text" name="username" aria-label="Username" required id="username" />
      <label class="input-group-text bg-dark text-white">@</label>
      <input class="form-control" type="text" name="domain" aria-label="Domain" required />
    </div>
    <p></p>
    <div class="d-grid">
      <button class="btn btn-dark text-white" type="submit">Id confirm</button>
    </div>
  </form>
</div>
{% endblock %}
