{% extends "layout.html" %} {% block body %}
<div class="border border-3 border-dark rounded p-4">
  <p class="text-center fw-bold fs-1">Find Password</p>
  <form action="/password-find" method="post">
    <div class="input-group mb-3">
      <label class="input-group-text bg-dark text-white" for="answer">{{question_cont}}</label>
      <input class="form-control" type="text" name="answer" aria-label="Answer" required id="answer" />
    </div>
    <div class="d-grid">
      <button class="btn btn-dark text-white" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
