{% extends "layout.html" %} {% block body %}
<div class="border border-3 border-dark rounded p-4">
  <p class="text-center fw-bold fs-1 mb-3">Write Post</p>
  <form action="/write-post" , method="post">
    <div class="input-group mb-3">
      <label class="input-group-text bg-dark text-white" for="title">제목</label>
      <input class="form-control" type="text" name="title" aria-label="Password" required id="title" />
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text bg-dark text-white" for="content">내용</label>
      <textarea class="form-control" name="content" aria-label="With textarea" required id="content"></textarea>
    </div>
    <div class="text-center">
      <div class="btn-group">
        <button type="submit" class="btn btn-dark text-white">Submit</button>
        <a href="/" class="btn btn-danger">Cancle</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
